<div id="container">
    <h1 id="h1">Sign Up for PostEm-Notes</h1><br>
    <form [formGroup]="signupForm">
        <div id="div">
            <input id="input" type="email" placeholder="Email" formControlName="email" />
            <div class="divider"></div>
            <input id="input" type="text" placeholder="Username" formControlName="" />
            <div class="divider"></div>
            <input id="input" type="password" placeholder="Password" formControlName="password" />
            <div class="divider"></div>
            <input id="input" type="password" placeholder="Confirm Password" formControlName="confirmPassword" />
            <br>
            <button (click)="signup()">Sign Up</button>
        </div>
        <div><p>Already have an account? <a routerLink="/login">Login</a></p></div>
    </form> 
</div>