<div class="container" style="background-color: rgb(236, 236, 236);">
    <div class="row">
        <div class="column">
            <img src="assets/img/home/note.png" alt="notes" style="width:75%">
        </div>
        <div class="column">
            <img src="assets/img/home/upload.png" alt="upload" style="width:75%">
        </div>
        <div class="column">
            <img src="assets/img/home/helpothers.png" alt="help" style="width:75%">
        </div>
    </div>
</div>
<hr>

<div class="container" style="background-color: rgb(236, 236, 236);">

    <h1 class="start" style="font-family: Lucida Sans Unicode, Lucida Grande, sans-serif">Where to Begin</h1>
    
    <p class="start" style="font-family:Lucida Sans Unicode, Lucida Grande, sans-serif"> Click below to begin sharing your notes. 
    </p>

    <a id="uploadBtn" class="btn btn-default" routerLink="/upload">I want to start sharing!</a>
    <br><br>
</div>

<hr>