
<nav class="navbar navbar-expand navbar-dark bg-dark" class="navbarDesign">
    <a [routerLinkActive]='activeClass' class="nav-link" routerLink='welcome'>Post'em Notes</a>
    <input data-toggle="popover" title="Popover Header" data-content="Some content inside the popover" id="input" type="search" placeholder="Search for something here" formControlName="search" />
    <ul class="nav navbar-nav navbar-right">
        <li class="nav-item "><a routerLink="/signup" class="button">Sign up now!</a></li>
        <li class="nav-item"><a routerLink="/login" class="button">Login</a></li>
    </ul>
    <div class="nav navbar-nav flexbox">
        <div id="home-button"><a routerLink="/home" class="button2">Home</a></div>
        <div id="myNotes-button"><a routerLink="/my-notes" class="button2">My Notes</a></div>
    </div>
</nav>