
<nav class="navbar navbar-expand navbar-dark bg-dark" class="navbarDesign">
    <a [routerLinkActive]='activeClass' class="nav-link" routerLink='welcome'>Post'em Notes</a>
    <div id="div">
        <div id="nav">

            <ul>
                <input id="input" type="search" placeholder="Search for something here" formControlName="search"/>
                <input routerLink="/search" id="search-icon" type="image" src="assets/img/doodles/search.png" />
            </ul>
            

            <ul id="list">
                
                    <input type="radio" id="class" name="criteria" value="class" formControlName="class">
                    <label class="option" for="class">Class</label><br>
                
                
                
                    <input type="radio" id="professor" name="criteria" value="professor" formControlName="prof">
                    <label class="option" for="professor">Professor</label><br>
                
                
                  
                    <input type="radio" id="student" name="criteria" value="student" formControlName="notetaker">
                    <label class="option" for="student">Notetaker</label>
                
             
            </ul>
                
        </div>
       

   
        <ul class="nav navbar-nav navbar-right">
        <li class="nav-item ">
            <a routerLink="/signup" class="button">Sign up now!</a>
        </li>
        <li class="nav-item">
            <a routerLink="/login" class="button">Login</a>
        </li>
    </ul>


        <ul id="left" class="nav navbar-nav">
            <li id="home-button">
            <a routerLink="/home" class="button2">Home</a>
        </li>
        <li id="myNotes-button">
            <a routerLink="/my-notes" class="button2">My Notes</a>
        </li>
    </ul>
        
    
    </div>
    

</nav>