.navbarDesign{
    background-color: #c9af8d;

}

.nav-link{
    color: whitesmoke;
    font-family:URW Chancery L, cursive;
    font-size: 25px;
    margin-left: 640px;

}

.button{
    background-color: whitesmoke;
    color: #c9af8d;
    border-color: #c9af8d;
    border-radius: 3px;
    border-width: 3px;
    padding: 5px 20px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    font-family: Optima, sans-serif;
      }

.divider{
width:5px;
height:auto;
display:inline-block;
    }