.navbarDesign{
    background: linear-gradient(to bottom, #c9af8d 0%, #ffffff 97%);

}

.nav-link{
    color: whitesmoke;
    font-family:URW Chancery L, cursive;
    font-size: 25px;
    margin-left: 43.5%;

}

#left{
    display: inline-flex; 
}
#list{
    display: inline-flex;
    margin-right: auto;
    margin-left: auto;
}

.button{
    background-color: whitesmoke;
    color: #c9af8d;
    border-color: #c9af8d;
    border-radius: 3px;
    border-width: 3px;
    padding: 5px 20px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    font-family: Optima, sans-serif;
    float: right;
      }
.button2{
    color: #c9af8d;
    font-size: 20px;
    font-family: Optima, sans-serif;
    display: inline-block;

}

.divider{
width:5px;
height:auto;
display:inline-block;
    }

/* the search bar */
#input{
    display: block;
    width: 441px;
    max-width: 100%;
    height: 40px;
    border: 3px;
    background-color:whitesmoke;
    border-bottom-left-radius: 41px;
    border-bottom-right-radius: 41px;
    border-top-left-radius: 41px;
    border-top-right-radius: 150px;
    box-shadow: 0 17px 40px 0 rgba(75, 128, 182, 0.07);
    margin: auto;
    position: relative;
    font-size: 17px;
    color: #a7b4c1;
    transition: opacity 0.2s ease-in-out, filter 0.2s ease-in-out,
    box-shadow 0.1s ease-in-out;
    
}

#search-icon{
    width: 30px;
    height: 30px;
    border: 5px dotted #54442e;
}

.option{
    font-family:URW Chancery L, cursive;
}
