
<nav class="navbar navbar-expand navbar-dark bg-dark" class="navbarDesign">
    <a [routerLinkActive]='activeClass' class="nav-link" routerLink='welcome'>Post'em Notes</a>
    <div>
        <input data-toggle="popover" title="Popover Header" data-content="Some content inside the popover" id="input" type="search" placeholder="Search for something here" formControlName="search" />
        <ul class="navbar-nav mr-auto">
        <li class="nav-item ">
            <a routerLink="/signup" class="button">Sign up now!</a>
        </li>
        <li class="nav-item">
            <a routerLink="/login" class="button">Login</a>
        </li>
        <li id="home-button">
            <a routerLink="/home" class="button">Home</a>
        </li>
        <li id="myNotes-button">
            <a routerLink="/myNotes" class="button">My Notes</a>
        </li>
    </ul>
    </div>

</nav>