
* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Float four columns side by side */
  .column {
    float: left;
    width: 25%;
    padding: 0 10px;
  }
  
  /* Remove extra left and right margins, due to padding */
  .row {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive columns */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  
  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
    margin: auto;
    flex-grow: 1;
    width: 100px;
  }

  .card img {
      display: block;
      margin: auto;
  }
  
  #img3{
    height: 150px;
    width: 250px;
  
  }
  .row{
    margin-left: 300px;
  }
  
  .banner{
      font-family: Optima, sans-serif;
  }
  
  h3{
      font-family: Optima, sans-serif;
  }
  
  .navbar-inverse{
  background-color: #ecd9c6
  }
  
  /* doodles  */
  
  #doodle1{
    width: 100px;
    height: 100px;
  }
  #doodle2{
    width: 100px;
    height: 100px;
  }
  #doodle3{
    width: 100px;
    height: 100px;
  
  }
  #doodle4{
    width: 100px;
    height: 100px;
  }
  #doodle5{
    width: 100px;
    height: 100px;
  }
  #doodle6{
    width: 100px;
    height: 100px;
  }
  #doodle7{
    width: 100px;
    height: 100px;
  }


  .flexbox {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    align-content: center;
    align-items: stretch;
    justify-content: center;
  }

  .button{
  background-color: whitesmoke;
  border: none;
  color: #c9af8d;
  border-color: #c9af8d;
  border-radius: 3px;
  border-width: 3px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 50px;
  font-weight: 200;
  font-family: Optima, sans-serif;

    }

    .divider{
      width:5px;
      height:auto;
      display:inline-block;
  }
  .divider2{
    width:100px;
    height:auto;
    display:inline-block;
}
    