<br>
<div class="container">
    <h1 class="center">Take Notes</h1>
    
        <h4>You can edit your notes however you want!</h4>
        <textarea id="textbox" formControlName="content" rows="10" cols="100"></textarea><br>
        <div id="div">
            <input id="input" placeholder="Class name ex. CISC108" formControlName="cn" />
                    <div class="divider"></div>
                    <input id="input" type="text" placeholder="Professor name ex. John Smith" formControlName="pn" />
                    <div class="divider"></div>
                    <input id="input" type="password" placeholder="Semester/Year ex. Spring 2020" formControlName="password" />
                    <div class="divider"></div>
             
        
        </div>
        <input id="button" type="submit" value="Submit">
    
  
</div>