<br>
<div class="container">
    <h1 class="center">Take Notes</h1>
    
    <form [formGroup]="uploadForm">
        <h4 id="h4">You can edit your notes however you want!</h4>
        <div *ngIf="content.invalid && (content.dirty || content.touched)" class="alert alert-danger">
            <div *ngIf="content.errors.required">Content is required.</div>
        </div>
        <textarea id="textbox" formControlName="content" rows="10" cols="100"></textarea><br>
        <div id="div">
            <div *ngIf="class.invalid && (class.dirty || class.touched)" class="alert alert-danger">
                <div *ngIf="class.errors.required">Class is required.</div>
            </div>
            <input id="input" placeholder="Class name ex. CISC108" formControlName="class" />
            <div class="divider"></div>

            <div *ngIf="professor.invalid && (professor.dirty || professor.touched)" class="alert alert-danger">
                <div *ngIf="professor.errors.required">Professor is required.</div>
            </div>
            <input id="input" type="text" placeholder="Professor name ex. John Smith" formControlName="professor" />
            <button id="button" (click)="upload()" [disabled]="!uploadForm.valid || loading" id="button">Submit</button>
        </div>
    </form>
    
</div>